.hero {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  height: 100%;

  &-main-picture {
    width: 480px;
    height: 480px;
    object-fit: cover;
    border-radius: 15px;
  }

  &-superpowers_list {
    width: 30%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

    &-item{
      width: 200px;
      padding: 10px;
    }
  }

  &-images_list {
    width: 80%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

    &-item{
        display: flex;
        flex-direction: column;
    }

    &-item-image {
      width: 200px;
      height: 200px;
      object-fit: cover;
    }
  }
}
