.create-hero_form {
  padding: 10px;

  .input-field {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
  }

  .media-button {
    cursor: pointer;
    background: transparent;
    border: none;

    .media-button_input {
      display: none;
    }
  }
}

.create-hero_photolist {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;

  &-item {
    list-style-type: none;
    margin: 5px;
    &:not(:last-child) {
      margin-right: 10px;
    }

    &-photo {
      width: 175px;
      height: 120px;
      object-fit: contain;
      background-position: 0%;
      border-radius: 5px;
      box-shadow: 0 1px 2px 0 #1018280d;
    }

    &-photo:hover {
      box-shadow: 0 0 0 4px #0e35850d, 0 1px 2px 0 #1018280d;
    }
  }
}
