.create-hero_form {
  padding: 10px;

  .media-button {
    cursor: pointer;
    background: transparent;
    border: none;

    .media-button_input {
      display: none;
    }
  }

  .create-hero_photolist {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;

    &-item {
      &:not(:last-child) {
        margin-right: 10px;
      }

      &-photo {
        max-width: 150px;
        height: 200px;
        background-image: cover;
      }
    }
  }
}
